.git
__pycache__
.ipynb_checkpoints
*.csv
*.pth.tar
*.pkl
classification
scrapper
apienv
ckpt 
wavdir
*.png
tts
.vscode
*.jpg
.env
*.pid
*.dat
ponicode
non-potential-topic-word-list.txt
*.m4a
*.wav
*.DS_Store
*.db
